@{
    ViewBag.Title = "Contact";
    <link href="~/Styles/Contact.css" rel="stylesheet" />
}
<h3 class="title-register">CONTACT US</h3>
<div class="register-form">
    <div class="div-right">
        <h3 class="title-register">PASSPORT SERVICES</h3>
        <h5 class="text-justify" style="margin-top:10%;">Office of the Chief Passport Officer</h5>
        <p class="text-justify">
            The Central Passport Organization, which is a subordinate office of the Ministry of External Affairs,
            is headed by Joint Secretary and Chief Passport Officer, who also acts as Appellate Authority under the
            Passports Act, 1967 and the Head of Department under the Delegation of Financial Powers Rules 1978.
        </p>
        <table>
            <tr><td>QWERTY ASDFG</td></tr>
            <tr><td>Joint Secretary (PSP) and CPO</td></tr>
            <tr><td>PSP Division, Ministry of External Affairs</td></tr>
            <tr><td> Room No. 12, Patiala House, Tilak Marg</td></tr>
            <tr><td>New Delhi - 110001</td></tr>
            <tr><td>Tel. No.: +91 1234567890</td></tr>
            <tr><td>Fax No.: +91-10-12345678</td></tr>
            <tr><td>E-mail: passport@abc.org.in</td></tr>
        </table>
    </div>
    <div class="div-left">
        <h3 class="title-register">PASSPORT SERVICES</h3>
        <h5 class="text-justify" style="margin-top:10%;">Office of the Chief Passport Officer</h5>
        <p class="text-justify">
            The Central Passport Organization, which is a subordinate office of the Ministry of External Affairs,
            is headed by Joint Secretary and Chief Passport Officer, who also acts as Appellate Authority under the
            Passports Act, 1967 and the Head of Department under the Delegation of Financial Powers Rules 1978.
        </p>
        <table>
            <tr><td>QWERTY ASDFG</td></tr>
            <tr><td>Joint Secretary (PSP) and CPO</td></tr>
            <tr><td>PSP Division, Ministry of External Affairs</td></tr>
            <tr><td> Room No. 12, Patiala House, Tilak Marg</td></tr>
            <tr><td>New Delhi - 110001</td></tr>
            <tr><td>Tel. No.: +91 1234567890</td></tr>
            <tr><td>Fax No.: +91-10-12345678</td></tr>
            <tr><td>E-mail: passport@abc.org.in</td></tr>
        </table>
    </div>
</div>
