@{
    ViewBag.Title = "Home Page";
    <link href="~/Styles/Home.css" rel="stylesheet" />
}
<div class="register-form">
    <div class="div-left">
        <img src="~/Images/Passport.jpg" class="passportvisa"/>
    </div>
    <div class="div-right">
        <div class="jumbotron">
            <h3 class="title-register" style="margin-bottom:5%;">WELCOME TO PASSPORT MANAGEMENT SYSTEM</h3>
            <p class="text-justify">
                Passport Management System (PMS) application is a system used for registering Passport applications,
                Apply for Passport, also for renewal of Passport.
            </p>
            <p class="text-justify">
                The System automates the entire work flow through the visa and passport facilitation process.
                The automated system will create and maintain a knowledge repository for passport details.
            </p>
        </div>
    </div>
</div>